data/images/*
data/features/*
data/*
!data/features/README.md
# tmp/
# logs/
wandb/
__pycache__
.ipython_checkpoints/
tmp/
build/
src.egg-info/

models/*
!models/*/README.md
!data/features/visualgenome/
data/features/visualgenome/*
!data/features/visualgenome/objects_vocab.txt