SSLMemes/build/*
SSLMemes/SSLMemes.egg-info/*
SSLMemes/data/images/*
SSLMemes/data/features/*
SSLMemes/data/*
!SSLMemes/data/features/README.md
# tmp/
# logs/
# wandb/
__pycache__
.ipython_checkpoints/
tmp/
SSLMemes/foo.egg-info/*
data/images/*
data/features/*
data/*